# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a data set which contains information World cup matches. Let's use the pandas commands learned in the previous lecture to learn more about our data!

## Objectives
You will be able to:
* Understand and explain some key Pandas methods
* Access DataFrame data by using the label
* Perform boolean indexing on both Series and DataFrames
* Use simple selectors for series
* Set new Series and DataFrame inputs

## Load the data

Load the file `WorldCupMatches.csv` as a dataframe in Pandas

In [1]:
ls

causes_of_death.tsv  index.ipynb  README.md
CONTRIBUTING.md      LICENSE.md   WorldCupMatches.csv

In [2]:
import pandas as pd
data = pd.read_csv("WorldCupMatches.csv")

In [3]:
print(len(data))
data.head()

852

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

In [5]:
data.dtypes

Year                      int64
Datetime                 object
Stage                    object
Stadium                  object
City                     object
Home Team Name           object
Home Team Goals           int64
Away Team Goals           int64
Away Team Name           object
Win conditions           object
Attendance              float64
Half-time Home Goals      int64
Half-time Away Goals      int64
Referee                  object
Assistant 1              object
Assistant 2              object
RoundID                   int64
MatchID                   int64
Home Team Initials       object
Away Team Initials       object
dtype: object

In [6]:
data.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

In [8]:
data = data.applymap(lambda x: x.strip() if type(x) == str else x)

In [15]:
data.head(10)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX
6,1930,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4,0,Bolivia,,18306.0,0,0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201,1092,YUG,BOL
7,1930,17 Jul 1930 - 14:45,Group 4,Parque Central,Montevideo,USA,3,0,Paraguay,,18306.0,2,0,MACIAS Jose (ARG),APHESTEGUY Martin (URU),TEJADA Anibal (URU),201,1097,USA,PAR
8,1930,18 Jul 1930 - 14:30,Group 3,Estadio Centenario,Montevideo,Uruguay,1,0,Peru,,57735.0,0,0,LANGENUS Jean (BEL),BALWAY Thomas (FRA),CRISTOPHE Henry (BEL),201,1099,URU,PER
9,1930,19 Jul 1930 - 12:50,Group 1,Estadio Centenario,Montevideo,Chile,1,0,France,,2000.0,0,0,TEJADA Anibal (URU),LOMBARDI Domingo (URU),REGO Gilberto (BRA),201,1094,CHI,FRA

## Common methods and attributes

Use the correct method to look at the first 7 rows of the data set.

In [10]:
data.head(7)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX
6,1930,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4,0,Bolivia,,18306.0,0,0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201,1092,YUG,BOL

Look at the last 3 rows of the data set.

In [11]:
data.tail(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
849,2014,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0,0,Argentina,Argentina win on penalties (2 - 4),63267.0,0,0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955,300186490,NED,ARG
850,2014,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0,3,Netherlands,,68034.0,0,2,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957,300186502,BRA,NED
851,2014,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1,0,Argentina,Germany win after extra time,74738.0,0,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959,300186501,GER,ARG

Get a concise summary of your data using `.info()`

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
Year                    852 non-null int64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null int64
Away Team Goals         852 non-null int64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null int64
Half-time Away Goals    852 non-null int64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null int64
MatchID                 852 non-null int64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB

Obtain a tuple representing the number of rows and number of columns

In [13]:
data.shape

(852, 20)

Use the appropriate attribute to get the column names

In [14]:
data.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting dataframe information

When looking at the dataframe's `.head()`, you might have noticed that the games are structured chronologically in the dataframe.

Use the right selection method to print all the information from the 3rd to the 5th game.

In [17]:
data[3:6]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX

Now, print all the info from game 5-9, but we're only interested to print out the "Home Team Name" and the "Away Team Name",

In [25]:
data.loc[5:9, ['Home Team Name', 'Away Team Name']]

  Home Team Name Away Team Name
0         France         Mexico
1            USA        Belgium
2     Yugoslavia         Brazil
3        Romania           Peru
4      Argentina         France
5          Chile         Mexico
6     Yugoslavia        Bolivia
7            USA       Paraguay
8        Uruguay           Peru
9          Chile         France

In [27]:
data[5:10][['Home Team Name','Away Team Name']]

  Home Team Name Away Team Name
5          Chile         Mexico
6     Yugoslavia        Bolivia
7            USA       Paraguay
8        Uruguay           Peru
9          Chile         France

In [29]:
data.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.

In [30]:
data[(data['Year'] == 1950) & (data['Stage'] == 'Group 3')]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
56,1950,25 Jun 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Sweden,3,2,Italy,,36502.0,2,1,LUTZ Jean (SUI),BERANEK Alois (AUT),TEJADA Carlos (MEX),208,1219,SWE,ITA
61,1950,29 Jun 1950 - 15:30,Group 3,Durival de Brito,Curitiba,Sweden,2,2,Paraguay,,7903.0,2,1,MITCHELL Robert (SCO),LEMESIC Leo (YUG),GARCIA Prudencio (USA),208,1228,SWE,PAR
65,1950,02 Jul 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Italy,2,0,Paraguay,,25811.0,1,0,ELLIS Arthur (ENG),GARCIA Prudencio (USA),DE LA SALLE Charles (FRA),208,1218,ITA,PAR

In [37]:
data.loc[(data['Year'] == 1950) & (data['Stage'] == 'Group 3')]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
56,1950,25 Jun 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Sweden,3,2,Italy,,36502.0,2,1,LUTZ Jean (SUI),BERANEK Alois (AUT),TEJADA Carlos (MEX),208,1219,SWE,ITA
61,1950,29 Jun 1950 - 15:30,Group 3,Durival de Brito,Curitiba,Sweden,2,2,Paraguay,,7903.0,2,1,MITCHELL Robert (SCO),LEMESIC Leo (YUG),GARCIA Prudencio (USA),208,1228,SWE,PAR
65,1950,02 Jul 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Italy,2,0,Paraguay,,25811.0,1,0,ELLIS Arthur (ENG),GARCIA Prudencio (USA),DE LA SALLE Charles (FRA),208,1218,ITA,PAR

Let's repeat the command above, but now we only want to print out the attendance column for the Group 3 games

You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [39]:
data.loc[(data['Year'] == 1950) & (data['Stage'] == 'Group 3'), ['Attendance']]

    Attendance
56     36502.0
61      7903.0
65     25811.0

In [41]:
data[(data['Year'] == 1950) & (data['Stage'] == 'Group 3')]['Attendance']

56    36502.0
61     7903.0
65    25811.0
Name: Attendance, dtype: float64

Throughout the entire history of the world cup, How many Home games were played by the Netherlands?

In [45]:
data[data['Home Team Name'] == 'Netherlands'].shape[0]

32

How many games were played by the Netherlands in total?

In [54]:
data[(data['Home Team Name'] == 'Netherlands') | (data['Away Team Name'] == 'Netherlands')].shape[0]

54

Next, let's try and figure out how many games the USA played in the 2014 world cup.

In [55]:
data[((data['Home Team Name'] == 'USA') | (data['Away Team Name'] == 'USA')) & (data['Year'] == 2014) ].shape[0]

5

Now, let's try to find out how many countries participated in the 1986 world cup.

Hint 1: as a first step, create a new data set that only contain games in that year.

Hint 2: You can use `.unique()` to make sure you don't end up with duplicate country names.

In [71]:
game1986 = data[data['Year'] == 1986]

In [75]:
game1986['Home Team Name'].unique().shape[0]

24

In [76]:
game1986['Away Team Name'].unique().shape[0]

24

In [92]:
data.info

<bound method DataFrame.info of      Year             Datetime                     Stage  \
0    1930  13 Jul 1930 - 15:00                   Group 1
1    1930  13 Jul 1930 - 15:00                   Group 4
2    1930  14 Jul 1930 - 12:45                   Group 2
3    1930  14 Jul 1930 - 14:50                   Group 3
4    1930  15 Jul 1930 - 16:00                   Group 1
5    1930  16 Jul 1930 - 14:45                   Group 1
6    1930  17 Jul 1930 - 12:45                   Group 2
7    1930  17 Jul 1930 - 14:45                   Group 4
8    1930  18 Jul 1930 - 14:30                   Group 3
9    1930  19 Jul 1930 - 12:50                   Group 1
10   1930  19 Jul 1930 - 15:00                   Group 1
11   1930  20 Jul 1930 - 13:00                   Group 2
12   1930  20 Jul 1930 - 15:00                   Group 4
13   1930  21 Jul 1930 - 14:50                   Group 3
14   1930  22 Jul 1930 - 14:45                   Group 1
15   1930  26 Jul 1930 - 14:45               Semi-finals
16   1930  27 Jul 1930 - 14:45               Semi-finals
17   1930  30 Jul 1930 - 14:15                     Final
18   1934  27 May 1934 - 16:30         Preliminary round
19   1934  27 May 1934 - 16:30         Preliminary round
20   1934  27 May 1934 - 16:30         Preliminary round
21   1934  27 May 1934 - 16:30         Preliminary round
22   1934  27 May 1934 - 16:30         Preliminary round
23   1934  27 May 1934 - 16:30         Preliminary round
24   1934  27 May 1934 - 16:30         Preliminary round
25   1934  27 May 1934 - 16:30         Preliminary round
26   1934  31 May 1934 - 16:30            Quarter-finals
27   1934  31 May 1934 - 16:30            Quarter-finals
28   1934  31 May 1934 - 16:30            Quarter-finals
29   1934  31 May 1934 - 16:30            Quarter-finals
..    ...                  ...                       ...
822  2014  30 Jun 2014 - 13:00               Round of 16
823  2014  30 Jun 2014 - 17:00               Round of 16
824  2014  04 Jul 2014 - 17:00            Quarter-finals
825  2014  04 Jul 2014 - 13:00            Quarter-finals
826  2014  08 Jul 2014 - 17:00               Semi-finals
827  2014  12 Jul 2014 - 17:00  Play-off for third place
828  2014  13 Jul 2014 - 16:00                     Final
829  2014  09 Jul 2014 - 17:00               Semi-finals
830  2014  05 Jul 2014 - 17:00            Quarter-finals
831  2014  05 Jul 2014 - 13:00            Quarter-finals
832  2014  29 Jun 2014 - 13:00               Round of 16
833  2014  29 Jun 2014 - 17:00               Round of 16
834  2014  01 Jul 2014 - 13:00               Round of 16
835  2014  01 Jul 2014 - 17:00               Round of 16
836  2014  28 Jun 2014 - 13:00               Round of 16
837  2014  28 Jun 2014 - 17:00               Round of 16
838  2014  29 Jun 2014 - 13:00               Round of 16
839  2014  29 Jun 2014 - 17:00               Round of 16
840  2014  30 Jun 2014 - 13:00               Round of 16
841  2014  30 Jun 2014 - 17:00               Round of 16
842  2014  01 Jul 2014 - 13:00               Round of 16
843  2014  01 Jul 2014 - 17:00               Round of 16
844  2014  04 Jul 2014 - 13:00            Quarter-finals
845  2014  04 Jul 2014 - 17:00            Quarter-finals
846  2014  05 Jul 2014 - 13:00            Quarter-finals
847  2014  05 Jul 2014 - 17:00            Quarter-finals
848  2014  08 Jul 2014 - 17:00               Semi-finals
849  2014  09 Jul 2014 - 17:00               Semi-finals
850  2014  12 Jul 2014 - 17:00  Play-off for third place
851  2014  13 Jul 2014 - 16:00                     Final

                     Stadium            City  Home Team Name  Home Team Goals  \
0                    Pocitos      Montevideo          France                4
1             Parque Central      Montevideo             USA                3
2             Parque Central      Montevideo      Yugoslavia                2
3                    Pocitos      Montevideo         Romania                3
4             Parque Central      Montevideo       Argentina                1
5             Parque Central      Montevideo           Chile                3
6             Parque Central      Montevideo      Yugoslavia                4
7             Parque Central      Montevideo             USA                3
8         Estadio Centenario      Montevideo         Uruguay                1
9         Estadio Centenario      Montevideo           Chile                1
10        Estadio Centenario      Montevideo       Argentina                6
11        Estadio Centenario      Montevideo          Brazil                4
12        Estadio Centenario      Montevideo        Paraguay                1
13        Estadio Centenario      Montevideo         Uruguay                4
14        Estadio Centenario      Montevideo       Argentina                3
15        Estadio Centenario      Montevideo       Argentina                6
16        Estadio Centenario      Montevideo         Uruguay                6
17        Estadio Centenario      Montevideo         Uruguay                4
18   Stadio Benito Mussolini           Turin         Austria                3
19         Giorgio Ascarelli          Naples         Hungary                4
20                  San Siro           Milan     Switzerland                3
21                 Littorale         Bologna          Sweden                3
22            Giovanni Berta        Florence         Germany                5
23            Luigi Ferraris           Genoa           Spain                3
24             Nazionale PNF            Rome           Italy                7
25                  Littorio         Trieste  Czechoslovakia                2
26   Stadio Benito Mussolini           Turin  Czechoslovakia                3
27                  San Siro           Milan         Germany                2
28            Giovanni Berta        Florence           Italy                1
29                 Littorale         Bologna         Austria                2
..                       ...             ...             ...              ...
822         Estadio Nacional        Brasilia          France                2
823        Estadio Beira-Rio    Porto Alegre         Germany                2
824         Estadio Castelao       Fortaleza          Brazil                2
825      Estadio do Maracana  Rio De Janeiro          France                0
826         Estadio Mineirao  Belo Horizonte          Brazil                1
827         Estadio Nacional        Brasilia          Brazil                0
828      Estadio do Maracana  Rio De Janeiro         Germany                1
829       Arena de Sao Paulo       Sao Paulo     Netherlands                0
830         Arena Fonte Nova        Salvador     Netherlands                0
831         Estadio Nacional        Brasilia       Argentina                1
832         Estadio Castelao       Fortaleza     Netherlands                2
833         Arena Pernambuco          Recife      Costa Rica                1
834       Arena de Sao Paulo       Sao Paulo       Argentina                1
835         Arena Fonte Nova        Salvador         Belgium                2
836         Estadio Mineirao  Belo Horizonte          Brazil                1
837      Estadio do Maracana  Rio De Janeiro        Colombia                2
838         Estadio Castelao       Fortaleza     Netherlands                2
839         Arena Pernambuco          Recife      Costa Rica                1
840         Estadio Nacional        Brasilia          France                2
841        Estadio Beira-Rio    Porto Alegre         Germany                2
842       Arena de Sao Paulo       Sao Paulo       Argentina                1
843         Arena Fonte Nova        Salvador         Belgium                2
844      Estadio do Maracana  Rio De Janeiro          France                0
845         Estadio Castelao       Fortaleza          Brazil                2
846         Estadio Nacional        Brasilia       Argentina                1
847         Arena Fonte Nova        Salvador     Netherlands                0
848         Estadio Mineirao  Belo Horizonte          Brazil                1
849       Arena de Sao Paulo       Sao Paulo     Netherlands                0
850         Estadio Nacional        Brasilia          Brazil                0
851      Estadio do Maracana  Rio De Janeiro         Germany                1

     Away Team Goals Away Team Name                        Win conditions  \
0                  1         Mexico
1                  0        Belgium
2                  1         Brazil
3                  1           Peru
4                  0         France
5                  0         Mexico
6                  0        Bolivia
7                  0       Paraguay
8                  0           Peru
9                  0         France
10                 3         Mexico
11                 0        Bolivia
12                 0        Belgium
13                 0        Romania
14                 1          Chile
15                 1            USA
16                 1     Yugoslavia
17                 2      Argentina
18                 2         France          Austria win after extra time
19                 2          Egypt
20                 2    Netherlands
21                 2      Argentina
22                 2        Belgium
23                 1         Brazil
24                 1            USA
25                 1        Romania
26                 2    Switzerland
27                 1         Sweden
28                 1          Spain
29                 1        Hungary
..               ...            ...                                   ...
822                0        Nigeria
823                1        Algeria          Germany win after extra time
824                1       Colombia
825                1        Germany
826                7        Germany
827                3    Netherlands
828                0      Argentina          Germany win after extra time
829                0      Argentina    Argentina win on penalties (2 - 4)
830                0     Costa Rica  Netherlands win on penalties (4 - 3)
831                0        Belgium
832                1         Mexico
833                1         Greece   Costa Rica win on penalties (5 - 3)
834                0    Switzerland        Argentina win after extra time
835                1            USA          Belgium win after extra time
836                1          Chile       Brazil win on penalties (3 - 2)
837                0        Uruguay
838                1         Mexico
839                1         Greece   Costa Rica win on penalties (5 - 3)
840                0        Nigeria
841                1        Algeria          Germany win after extra time
842                0    Switzerland        Argentina win after extra time
843                1            USA          Belgium win after extra time
844                1        Germany
845                1       Colombia
846                0        Belgium
847                0     Costa Rica  Netherlands win on penalties (4 - 3)
848                7        Germany
849                0      Argentina    Argentina win on penalties (2 - 4)
850                3    Netherlands
851                0      Argentina          Germany win after extra time

        ...      Half-time Home Goals  Half-time Away Goals  \
0       ...                         3                     0
1       ...                         2                     0
2       ...                         2                     0
3       ...                         1                     0
4       ...                         0                     0
5       ...                         1                     0
6       ...                         0                     0
7       ...                         2                     0
8       ...                         0                     0
9       ...                         0                     0
10      ...                         3                     1
11      ...                         1                     0
12      ...                         1                     0
13      ...                         4                     0
14      ...                         2                     1
15      ...                         1                     0
16      ...                         3                     1
17      ...                         1                     2
18      ...                         0                     0
19      ...                         2                     2
20      ...                         2                     1
21      ...                         1                     1
22      ...                         1                     2
23      ...                         3                     0
24      ...                         3                     0
25      ...                         0                     1
26      ...                         1                     1
27      ...                         0                     0
28      ...                         0                     0
29      ...                         1                     0
..      ...                       ...                   ...
822     ...                         0                     0
823     ...                         0                     0
824     ...                         1                     0
825     ...                         0                     1
826     ...                         0                     5
827     ...                         0                     2
828     ...                         0                     0
829     ...                         0                     0
830     ...                         0                     0
831     ...                         1                     0
832     ...                         0                     0
833     ...                         0                     0
834     ...                         0                     0
835     ...                         0                     0
836     ...                         0                     0
837     ...                         1                     0
838     ...                         0                     0
839     ...                         0                     0
840     ...                         0                     0
841     ...                         0                     0
842     ...                         0                     0
843     ...                         0                     0
844     ...                         0                     1
845     ...                         1                     0
846     ...                         1                     0
847     ...                         0                     0
848     ...                         0                     5
849     ...                         0                     0
850     ...                         0                     2
851     ...                         0                     0

                           Referee                     Assistant 1  \
0           LOMBARDI Domingo (URU)           CRISTOPHE Henry (BEL)
1                MACIAS Jose (ARG)        MATEUCCI Francisco (URU)
2              TEJADA Anibal (URU)         VALLARINO Ricardo (URU)
3            WARNKEN Alberto (CHI)             LANGENUS Jean (BEL)
4              REGO Gilberto (BRA)            SAUCEDO Ulises (BOL)
5            CRISTOPHE Henry (BEL)         APHESTEGUY Martin (URU)
6         MATEUCCI Francisco (URU)          LOMBARDI Domingo (URU)
7                MACIAS Jose (ARG)         APHESTEGUY Martin (URU)
8              LANGENUS Jean (BEL)             BALWAY Thomas (FRA)
9              TEJADA Anibal (URU)          LOMBARDI Domingo (URU)
10            SAUCEDO Ulises (BOL)          ALONSO Gualberto (URU)
11             BALWAY Thomas (FRA)        MATEUCCI Francisco (URU)
12         VALLARINO Ricardo (URU)               MACIAS Jose (ARG)
13             REGO Gilberto (BRA)           WARNKEN Alberto (CHI)
14             LANGENUS Jean (BEL)           CRISTOPHE Henry (BEL)
15             LANGENUS Jean (BEL)            VALLEJO Gaspar (MEX)
16             REGO Gilberto (BRA)            SAUCEDO Ulises (BOL)
17             LANGENUS Jean (BEL)            SAUCEDO Ulises (BOL)
18      VAN MOORSEL Johannes (NED)           CAIRONI Camillo (ITA)
19        BARLASSINA Rinaldo (ITA)          DATTILO Generoso (ITA)
20               EKLIND Ivan (SWE)             BERANEK Alois (AUT)
21               BRAUN Eugen (AUT)            CARRARO Albino (ITA)
22          MATTEA Francesco (ITA)      MELANDRI Ermenegildo (ITA)
23             BIRLEM Alfred (GER)          CARMINATI Ettore (ITA)
24               MERCET Rene (SUI)            ESCARTIN Pedro (ESP)
25             LANGENUS Jean (BEL)           SCARPI Giuseppe (ITA)
26             BERANEK Alois (AUT)           MOHAMED Youssuf (EGY)
27        BARLASSINA Rinaldo (ITA)               MERCET Rene (SUI)
28               BAERT Louis (BEL)           ZENISEK Bohumil (TCH)
29          MATTEA Francesco (ITA)            ESCARTIN Pedro (ESP)
..                             ...                             ...
822              GEIGER Mark (USA)                 HURD Sean (USA)
823             RICCI Sandro (BRA)       DE CARVALHO Emerson (BRA)
824  Carlos VELASCO CARBALLO (ESP)  ALONSO FERNANDEZ Roberto (ESP)
825            PITANA Nestor (ARG)            MAIDANA Hernan (ARG)
826          RODRIGUEZ Marco (MEX)         TORRENTERA Marvin (MEX)
827          HAIMOUDI Djamel (ALG)            ACHIK Redouane (MAR)
828           Nicola RIZZOLI (ITA)           Renato FAVERANI (ITA)
829             C�neyt �AKIR (TUR)            DURAN Bahattin (TUR)
830          Ravshan IRMATOV (UZB)     RASULOV Abduxamidullo (UZB)
831           Nicola RIZZOLI (ITA)           Renato FAVERANI (ITA)
832            PROENCA Pedro (POR)           MIRANDA Bertino (POR)
833             Ben WILLIAMS (AUS)             CREAM Matthew (AUS)
834           ERIKSSON Jonas (SWE)         KLASENIUS Mathias (SWE)
835          HAIMOUDI Djamel (ALG)            ACHIK Redouane (MAR)
836              WEBB Howard (ENG)         MULLARKEY Michael (ENG)
837            Bj�rn KUIPERS (NED)         Sander VAN ROEKEL (NED)
838            PROENCA Pedro (POR)           MIRANDA Bertino (POR)
839             Ben WILLIAMS (AUS)             CREAM Matthew (AUS)
840              GEIGER Mark (USA)                 HURD Sean (USA)
841             RICCI Sandro (BRA)       DE CARVALHO Emerson (BRA)
842           ERIKSSON Jonas (SWE)         KLASENIUS Mathias (SWE)
843          HAIMOUDI Djamel (ALG)            ACHIK Redouane (MAR)
844            PITANA Nestor (ARG)            MAIDANA Hernan (ARG)
845  Carlos VELASCO CARBALLO (ESP)  ALONSO FERNANDEZ Roberto (ESP)
846           Nicola RIZZOLI (ITA)           Renato FAVERANI (ITA)
847          Ravshan IRMATOV (UZB)     RASULOV Abduxamidullo (UZB)
848          RODRIGUEZ Marco (MEX)         TORRENTERA Marvin (MEX)
849             C�neyt �AKIR (TUR)            DURAN Bahattin (TUR)
850          HAIMOUDI Djamel (ALG)            ACHIK Redouane (MAR)
851           Nicola RIZZOLI (ITA)           Renato FAVERANI (ITA)

                    Assistant 2 RoundID    MatchID  Home Team Initials  \
0           REGO Gilberto (BRA)     201       1096                 FRA
1         WARNKEN Alberto (CHI)     201       1090                 USA
2           BALWAY Thomas (FRA)     201       1093                 YUG
3      MATEUCCI Francisco (URU)     201       1098                 ROU
4    RADULESCU Constantin (ROU)     201       1085                 ARG
5           LANGENUS Jean (BEL)     201       1095                 CHI
6         WARNKEN Alberto (CHI)     201       1092                 YUG
7           TEJADA Anibal (URU)     201       1097                 USA
8         CRISTOPHE Henry (BEL)     201       1099                 URU
9           REGO Gilberto (BRA)     201       1094                 CHI

In the world cup history, how matches had more than 5 goals in total?

In [91]:
data['Total Goals'] = data['Home Team Goals'] + data['Away Team Goals']
data['Total Goals' > 5]

TypeError: '>' not supported between instances of 'str' and 'int'

In [90]:
data.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Total Goals
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,...,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX,5
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,...,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL,3
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,...,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA,3
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,...,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER,4
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,...,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA,1

## Changing values and creating new columns

With the information you currently have in your `df`, create a new column "Half-time Goals".

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [ ]:
df.loc[df["Home Team Name"].str.contains('Korea'), "Home Team Name" ]

Imagine that for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

Make sure to verify your answer!

## Summary

In this lab, you learned how to access data within Pandas!